# For develop features related to synchronization,
# you should register an app on Dropbox:
# https://www.dropbox.com/developers/apps/create
# Enable files.metadata.read, files.content.read, and files.content.write.
NEXT_PUBLIC_DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=

NEXT_PUBLIC_WEBSITE_URL=http://localhost:7117
